# ========================
# Environment & Secrets
# ========================
.env
*.env
TaskManager/TaskManager/appsettings.Production.json

# ========================
# .NET
# ========================
TaskManager/TaskManager/bin/
TaskManager/TaskManager/obj/
TaskManager/TaskManager.Tests/bin/
TaskManager/TaskManager.Tests/obj/
*.user
*.suo
.vs/
TestResults/
*.log

# ========================
# Angular / Node
# ========================
TaskManagerUI/node_modules/
TaskManagerUI/dist/
TaskManagerUI/.angular/
node_modules/

# ========================
# Docker
# ========================
docker-compose.override.yml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDEs
# ========================
.vscode/
.idea/
*.swp